<div class="noticias">
  <div class="row">
    <h2 class="col-sm-8">Noticias Recientes</h2>
    <div class="seeAll col-sm-4"><span>ver todas <i class="fa fa-chevron-right"></i></span></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm noticia">
      <div class="imgContainer">
        <img src="https://lorempixel.com/500/500?r=3" class="img-thumbnail" alt="">
      </div>
      <h3 class="titulo">Titulo de la Noticia</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
    </div>
    <div class="col-12 col-sm noticia">
      <div class="imgContainer">
        <img src="https://lorempixel.com/500/500?r=4" class="img-thumbnail" alt="">
      </div>
      <h3 class="titulo">Titulo de la Noticia</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
    </div>
    <div class="col-12 col-sm noticia">
      <div class="imgContainer">
        <img src="https://lorempixel.com/500/500?r=5" class="img-thumbnail" alt="">
      </div>
      <h3 class="titulo">Titulo de la Noticia</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
    </div>
  </div>
</div>
