<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <p>&nbsp;</p>
      <h3 class="section-title">Ingreso a Rochman</h3>
      <p>&nbsp;</p>
      <form [formGroup]="formObject" (ngSubmit)="onSubmit(formObject.value)" novalidate>
        <div class="form-group text-left">
          <label for="usuario">Usuario</label>
          <input type="text" class="form-control" id="usuario" formControlName="user" placeholder="Ingrese su usuario">
        </div>
        <div class="form-group text-left">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
        </div>
        <p class="mt-4 mb-4">No tenés cuenta? <a routerLink="/register/new" routerLinkActive="active">Registrate</a> </p>
        <button [disabled]="!formObject.valid" type="submit" class="btn btn-primary btn-block">INGRESAR</button>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>