<ul class="nav flex-column flex-nowrap" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a routerLink="/articles" routerLinkActive="active" class="nav-link">Artículos</a>
    </li>
  <li class="nav-item" *ngIf="isAdmin">
    <a routerLink="/categories" routerLinkActive="active" class="nav-link">Categorías</a>
  </li>
  <li class="nav-item" *ngIf="isAdmin">
    <a routerLink="/subcategories" routerLinkActive="active" class="nav-link">Subcategorías</a>
  </li>
  <li class="nav-item" *ngIf="isAdmin">
    <a routerLink="/banners" routerLinkActive="active" class="nav-link">Banners</a>
  </li>
  <li class="nav-item" *ngIf="isAdmin">
    <a routerLink="/users" routerLinkActive="active" class="nav-link">Usuarios</a>
  </li>
  <li class="nav-item">
    <a (click)=logout() class="nav-link"><i class="fa fa-close" aria-hidden="true"></i> Cerrar Sesión</a>
  </li>
</ul>