<ul class="nav flex-column flex-nowrap">
  <li class="nav-item">
    <a routerLink="/categories" routerLinkActive="active" class="nav-link">Categorías</a>
  </li>
  <li class="nav-item">
    <a routerLink="/articles" routerLinkActive="active" class="nav-link">Artículos</a>
  </li>
  <li class="nav-item">
    <a routerLink="/articles" routerLinkActive="active" class="nav-link">Usuarios</a>
  </li>
  <hr>
  <li class="nav-item">
    <a routerLink="/brands" routerLinkActive="active" class="nav-link">Marcas</a>
  </li>
  <li class="nav-item">
    <a routerLink="/models" routerLinkActive="active" class="nav-link">Modelos</a>
  </li>
  <li class="nav-item">
    <a routerLink="/suscriptors" routerLinkActive="active" class="nav-link">Suscriptores</a>
  </li>
  <li class="nav-item">
    <a routerLink="/banners" routerLinkActive="active" class="nav-link">Banners</a>
  </li>
  <li class="nav-item">
    <a routerLink="/vehicles" routerLinkActive="active" class="nav-link">Vehiculos</a>
  </li>
  <li class="nav-item">
    <a (click)=logout() class="nav-link"><i class="fa fa-close" aria-hidden="true"></i> Cerrar Sesión</a>
  </li>
</ul>