<div class="container">
  <div class="row no-gutters">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Artículos</a></li>
        <li class="breadcrumb-item"><a href="#">{{article?.subcategory?.category?.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{article?.subcategory?.name}}</li>
      </ol>
    </nav>
  </div>
  <div class="row no-gutters">
    <div class="col-md-6 gallery">
      <div class="row">
        <img [defaultImage]="loader" [lazyLoad]="img_url_base + '/' + imageSelected" class="img-fluid featured">
      </div>
      <div class="row thumb-list">
        <div *ngFor="let item of article?.images">
          <img [defaultImage]="loader" [lazyLoad]="img_url_base + '/small-' + item" (click)="changeImageSelected(item)"
            class="img-fluid" [ngClass]="{'active': item === imageSelected}">
        </div>
      </div>
    </div>
    <div class="col-md-6 details">
      <div class="detail-container title-block">
        <div class="row no-gutters">
          <div>
            <p class="text-muted m-0">{{article?.subcategory?.category?.name}} {{article?.subcategory?.name}}</p>
            <h1>{{article?.name}}</h1>
            <h2>{{article?.description}}</h2>
          </div>
        </div>
      </div>
      <div class="detail-container specs-block">
        <div class="row no-gutters">
          <div class="col-sm-6">
            <dl>
              <dt><i class="fa fa-car text-danger"></i> Condición</dt>
              <dd>{{article?.condition}}</dd>
              <dt><i class="fa fa-fire text-danger"></i> Combustible</dt>
              <dd>{{article?.fuel | uppercase}}</dd>
            </dl>
          </div>
          <div class="col-sm-6">
            <dl>
              <dt><i class="fa fa-calendar text-danger"></i> Año</dt>
              <dd>{{article?.year}}</dd>
              <dt><i class="fa fa-dashboard text-danger"></i> Kilometraje</dt>
              <dd>{{article?.km ? article?.km : '__' }}</dd>
            </dl>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <div class="detail-container price-block">
        <div class="row no-gutters">
          <div class="row col-sm-6 no-gutters">
            <div *ngIf="article?.advance > 0" class="finance-container">
              Anticipo de {{article?.advance}}
            </div>
          </div>
          <div class="col-sm-6 price-container">
            <!-- <span *ngIf="article?.price_discount" class="text-danger">${{article?.price_discount}}</span> -->
            <span *ngIf="!article?.price_discount" class="text-danger">${{article?.price}}</span>
          </div>
        </div>
      </div>
      <div class="detail-container">
        <button type="button" class="btn btn-primary default btn-block" (click)="openModal(consult)">CONSULTAR</button>
      </div>
      <div class="detail-container social-block">
        <div class="row">
          <div class="col-6">Compartir en redes</div>
          <div class="col-6 text-right">
              <a class="resp-sharing-button__link" [href]="'https://facebook.com/sharer/sharer.php?u=' + href" target="_blank"
                aria-label="">
              <i class="fa fa-facebook fa-2x ml-2 text-secondary" aria-hidden="true"></i>
            </a>
            <a class="resp-sharing-button__link" [href]="twitter"
              target="_blank" aria-label="">
              <i class="fa fa-twitter fa-2x ml-2 text-secondary" aria-hidden="true"></i>
            </a>
            <a class="resp-sharing-button__link" [href]="whatsapp" target="_blank"
              aria-label="">
                <i class="fa fa-whatsapp fa-2x ml-2 text-secondary" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row features-block">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Seguridad</h4>
          <p class="card-text" *ngIf="article?.airbag_pilot"><i class="fa fa-check text-danger"></i>Airbag Piloto</p>
          <p class="card-text" *ngIf="article?.airbag_co_pilot"><i class="fa fa-check text-danger"></i>Airbag Co-Piloto</p>
          <p class="card-text" *ngIf="article?.direction"><i class="fa fa-check text-danger"></i>Dirección Hidraulica</p>
          <p class="card-text" *ngIf="article?.abs_brakes"><i class="fa fa-check text-danger"></i>Frenos ABS</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Confort</h4>
          <p class="card-text" *ngIf="article?.cold_air"><i class="fa fa-check text-danger"></i>Aire Acondicionado</p>
          <p class="card-text" *ngIf="article?.hot_air"><i class="fa fa-check text-danger"></i>Calefacción</p>
          <p class="card-text" *ngIf="article?.central_locking"><i class="fa fa-check text-danger"></i>Cierre Centralizado</p>
          <p class="card-text" *ngIf="article?.steeringWheel_commands"><i class="fa fa-check text-danger"></i>Comandos en el
            Volante</p>
          <p class="card-text" *ngIf="article?.front_liftsCrystals"><i class="fa fa-check text-danger"></i>Limpia Parabrisas
            frontal</p>
          <p class="card-text" *ngIf="article?.back_liftsCrystals"><i class="fa fa-check text-danger"></i>Limpia Parabrisas
            trasero</p>
          <p class="card-text" *ngIf="article?.navigation_system"><i class="fa fa-check text-danger"></i>Sistema de
            Navegación (GPS)</p>
          <p class="card-text" *ngIf="article?.leather"><i class="fa fa-check text-danger"></i>Tapizado de cuero</p>
          <p class="card-text" *ngIf="article?.cruise_control"><i class="fa fa-check text-danger"></i>Velocidad crucero</p>
          <p class="card-text" *ngIf="article?.usb"><i class="fa fa-check text-danger"></i>Puertos USB</p>
          <p class="card-text" *ngIf="article?.bluetooth"><i class="fa fa-check text-danger"></i>Bluetooth</p>
          <p class="card-text" *ngIf="article?.electric_starter"><i class="fa fa-check text-danger"></i>Encendido Eléctrico</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Exterior</h4>
          <p class="card-text" *ngIf="article?.headlights"><i class="fa fa-check text-danger"></i>Faros antiniebla</p>
          <p class="card-text" *ngIf="article?.tires"><i class="fa fa-check text-danger"></i>LLantas</p>
          <p class="card-text" *ngIf="article?.parking_sensor"><i class="fa fa-check text-danger"></i>Sensor de
            estacionamiento</p>
          <p class="card-text" *ngIf="article?.polarized"><i class="fa fa-check text-danger"></i>Vidrios polarizados</p>
        </div>
      </div>
    </div>
  </div> -->
  <hr>
  <div class="related-block no-gutters mb-4">
    <h2 class="block-title">
      También te puede interesar
    </h2>
    <div class="featured-cars">
      <div class="row card-list">
        <div *ngFor="let item of cars" class="col-sm-6 col-md-4 col-lg-4" (click)="showVehicle(item)">
          <div class="card mb-2 car-card">
            <img class="card-img-top" [defaultImage]="loader" [lazyLoad]="img_url_base + '/' + item.images[0]" [offset]="offset">
            <button *ngIf="item.opportunity" type="button" class="btn btn-danger btn-sm opportunity-label">OPORTUNIDAD</button>
            <button *ngIf="item.newest" type="button" class="btn btn-warning btn-sm new-label">NOVEDAD</button>
            <button *ngIf="item.year" class="btn btn-light btn-sm year-label">{{item.year}}</button>
            <div class="card-block p-3">
              <h4 class="card-title">{{ item.brand.name }} {{ item.model.name }}</h4>
              <div class="card-text" [innerHtml]="item.description | truncate:80"></div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col credit-container"><span class="credit">36 cuotas de $12000</span></div>
                <div class="col price-container"><span class="price">{{item.price}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #consult>
  <form class="w-100" [formGroup]="formObject" (ngSubmit)="sendConsult(formObject.value)">
    <div class="modal-header bg-dark text-light">
      <h4 class="modal-title pull-left">Consulta por {{article?.brand.name}} {{article?.model.name}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span class="text-light" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Ingrese su nombre">
        <div *ngIf="!formObject.controls['name'].valid && formObject.controls['name'].touched" class="invalid-feedback">
          debe ingresar su Nombre
        </div>

      </div>
      <div class="form-group">
        <label>Apellido</label>
        <input type="text" class="form-control" formControlName="lastname" placeholder="Ingrese su Apellido">
        <div *ngIf="!formObject.controls['lastname'].valid && formObject.controls['lastname'].touched" class="invalid-feedback">
          debe ingresar su  
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Ingrese su email">
        <div *ngIf="!formObject.controls['email'].valid && formObject.controls['email'].touched" class="invalid-feedback">
          debe ingresar su Email
        </div>
      </div>
      <div class="form-group">
        <label>Consulta</label>
        <textarea type="text" class="form-control" placeholder="Ingrese su consulta" formControlName="description" rows="5"></textarea>
        <div *ngIf="!formObject.controls['description'].valid && formObject.controls['description'].touched" class="invalid-feedback">
          debe ingresar su Consulta
        </div>
      </div>
    </div>
    <div class="modal-footer float-left float-md-right">
      <div *ngIf="!canSend" class="float-left">
        <re-captcha (resolved)="resolved($event)" [siteKey]="recaptcha_key"></re-captcha>
      </div>
      <div *ngIf="canSend">
        <span *ngIf="loading"> <i class="fa fa-circle-o-notch fa-spin fa-fw text-danger" aria-hidden="true"></i>
          Enviando....</span>
        <button *ngIf="!loading" class="btn btn-primary default text-right" type="submit" block [disabled]="!formObject.valid">Enviar</button>
      </div>
    </div>
  </form>
</ng-template>