<div class="container-fluid">

  <div class="row align-items-center">
    <div class="col-sm-6">
      <h1 class="section-title">
        <i class="fa fa-book"></i> Subcategorias</h1>
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-primary ml-2" (click)="create()">
        <i class="fa fa-plus"></i> Nueva</button>
    </div>
  </div>
  <div class="row">
        <div class="col-sm-4 offset-8 text-right">
          <div class="form-group">
            <label for=""></label>
            <select class="form-control" (change)="changeCategory()" [(ngModel)]="categorySelected" [ngModelOptions]="{standalone: true}">
              <option selected value="0">Todas las Categorías</option>
              <option *ngFor="let item of categories" [value]=item.id>{{item.name}}</option>
            </select>
          </div>
        </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Subcategoría</th>
          <th>Categoría
            <!-- <select class="select" name="subcategory" id="subcategory" (change)="changeCategory($event)">
              <option value="-1">Todos</option>
              <option *ngFor="let subcategory of subcategories" value="{{subcategory._id}}" >{{subcategory?.name}}</option>
            </select> -->
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item?.name }}</td>
          <td>{{ item.category?.name }}</td>
          <td class="text-right">
            <button type="button" class="btn btn-primary btn-sm" (click)="edit(item)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="remove(item)">
              <i class="fa fa-close" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>