@import "../../assets/variables";

slide {
    img {
        max-height: 500px;
        object-fit: cover;
    }
}

.carousel-container {
    background: $background_color_4;
}

.carousel-caption {
    top: 30%;
    background-color: transparent;
    width: 40%;
    left: 10%;
    height: auto;
    text-align: left;

    h3 {
        font-size: 2.5em;
        font-weight: bold;
        text-shadow: 3px 0px 2px rgb(45, 45, 45);
    }

    p {
        font-size: 1.5em;
        text-shadow: 3px 0px 2px rgb(45, 45, 45);
    }

    @media screen and (max-width: 996px) {
        top: inherit;
        width: 100%;
        left: 0;
        right: 0;
        height: auto;
        text-align: center;
    }
}

.featured-cars {
    background: #f7f7f7;
    margin-top: 1em;
    margin-bottom: 1em;

    h2 {
        color: $color_1;

        span {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .featured-cars-center {
        padding: 0; // .car {
        //     background: #fff;
        //     margin: .5em;
        //     padding: 0;
        //     .contentContainer {
        //         padding: 1em;
        //         .titulo {
        //             color: $color_1;
        //         }
        //         .date {
        //             color: $color_2;
        //             font-size: .8em;
        //         }
        //         .badge-primary {
        //             background: $color_1;
        //             border-radius: 0;
        //         }
        //     }
        // }
   
    }
}

.texto-central-container {
    background: $color_1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .lead {
        font-style: italic;
        font-size: 1.1em;
    }

    .texto-central {
        margin-top: 2em;
        margin-bottom: 2em;
        color: $color_3;

        @media screen and (max-width: 768px) {
            margin-top: .5em;
            margin-bottom: .5em;
        }

        .filter-buttons {
            @media screen and (max-width: 768px) {
                margin-top: .5em;
                margin-bottom: 1em;
                text-align: center;
            }

            button {
                border-radius: 30px;
                margin-right: .5em;

                @media screen and (max-width: 768px) {
                    border-radius: 20px;
                    padding: 0.5em;
                    font-size: 0.8em;
                    margin-right: 0.1em;
                }
            }
        }

        .search-form {
            form {
                justify-content: flex-end;
                position: relative;

                .input-group {
                    width: 100%;

                    .form-control {
                        border-radius: 30px;
                        background: rgba(0, 0, 0, 0.1);
                        border-color: rgba(0, 0, 0, 0.2);
                        color: white;

                        &::placeholder {
                            color: $color_3;
                        }

                        &:focus {
                            box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                        }
                    }

                    .input-group-append {
                        margin-left: -50px;

                        button {
                            border: none;
                            background: none;
                            color: white;

                            &:hover {
                                color: $color_1;
                            }
                        }
                    }
                }

                .results-container {
                    width: 95%;
                    background: $background_default;
                    color: $dark;
                    position: absolute;
                    top: 2.5em;
                    left: 4%;
                    z-index: 1;

                    @extend .box-shadow-default;

                    border-bottom-left-radius: 1em;
                    border-bottom-right-radius: 1em;

                    ul {
                        padding-top: 1em;
                        list-style: none;
                        padding-left: 1em;

                        li {
                            cursor: pointer;

                            &:hover {
                                color: $color_1;

                                &::after {
                                    content: " <";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.cars {
    margin-top: 2em;
    margin-bottom: 2em;
}

.seeAll {
    color: $color_4;
    text-align: right;
    font-size: .8em;
    display: table;
    height: 3em;
}

.instagram-feed {
    background: $dark;
}
