<div class="footer">
  <div class="redesSociales">
    <div class="container">
      <div class="row align-items-center">
        <div class="col d-none d-sm-block">
          <h3>Encontranos en Redes</h3>
        </div>
        <div class="col">
          <div class="row justify-content-end">
            <a href="https://www.facebook.com/LARIO1050" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="https://www.instagram.com/rochmanlario/" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="links">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-sm-4 align-items-start">
          <ul>
            <img src="assets/img/logo_bco.png" width="150px">
            <!-- <h3>Montrer S.A.</h3> -->
            <li class="mt-2 mb-2">Sumate a la comunidad de compraventa Rochman </li>
          </ul>
        </div>
        <div class="col-sm-4 align-items-start">
        </div>
        <div class="col-sm-4 align-items-start">
          <div class="form-group">
            <!-- <label class="text-white" for="">Suscribite y recibí novedades</label>
            <div class="input-group">
              <input type="text" class="form-control" (keyup.enter)="suscription()" [(ngModel)]="suscriptor" placeholder="Ingresá tu correo" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button (click)="suscription()" class="input-group-text" id="basic-addon2"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </div>
            </div>
          </div> -->
          <!-- <ul>
            <li>
              <i class="fa fa-phone mr-2"></i><a href="tel:+543514552027" target="_blank">0351-4552027</a></li>
            <li>
            <li>
              <i class="fa fa-whatsapp mr-2"></i><a href="whatsapp://send?text=Hola%2C%20te%20escribo%20desde%20la%20web%20de%20montrer.com.ar%20para%20consultarte%20algo&phone=+543516008783&abid=+543516008783" target="_blank">0351-156008783</a></li>
            <li>
              <i class="fa fa-map-marker mr-2"></i><a href="http://maps.google.com/?q=Montrer+Multimarcas" target="_blank">Av. Sabattini 4270, Córdoba</a></li>
            <li>
              <i class="fa fa-envelope mr-2"></i><a href="mailto:info@montrer.com.ar" target="_blank">info@montrer.com.ar</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
  <div class="branding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <div class="row justify-content-end">
            <a href="http://www.diproach.com" target="_blank">diproach.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>