<div class="texto-central-container">
  <div class="container">
    <div class="row texto-central">
      <div class="col-sm-2 filter-buttons">
        <button (click)="openModal(template)" type="button" class="btn btn-default btn-white outline"><i class="fa fa-filter"
            aria-hidden="true"></i>
          <span class="d-none d-md-inline">Fitrar</span> </button>
      </div>
      <div class="col-sm-10 search-form">
        <form class="form-inline">
          <div class="input-group mb-md-3">
            <input type="text" class="form-control" [(ngModel)]="textSearch" (keyup.enter)="loadArticles()" placeholder="Buscá por nombre" [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"  type="button" id="button-addon2"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <!-- <div class="results-container" *ngIf="searchResult.length > 0">
            <ul>
              <li *ngFor="let item of searchResult" (click)="toCatalog(item)">{{item.brand.name}} {{item.model.name}}</li>
            </ul>
          </div> -->
        </form>
      </div>
    </div>
  </div>
  <div class="texto-central-secundario" *ngIf="objectKeys(filters).length > 1" >
    <div class="container">
      <button (click)="deleteFilters()"  type="button" class="btn btn-outline">x Limpiar filtros</button>
      <button *ngIf="filters.category" type="button" class="btn btn-sm btn-outline-dark">{{getCategoryName(filters.category)}}</button>
      <button *ngIf="filters.subcategory" type="button" class="btn btn-sm btn-outline-dark"> {{getSubCategoryName(filters.subcategory)}}</button>
      <button *ngIf="filters.name" type="button" class="btn btn-sm btn-outline-dark">Búsqueda: {{filters.name}}</button>
  </div>
  </div>
  <!-- <div *ngIf="objectKeys(filters).length > 0" class="texto-central-secundario">
    <div class="container">
      <button *ngIf="objectKeys(filters).length > 0" (click)="deleteFilters()"  type="button" class="btn btn-outline">x Limpiar filtros</button>
      <button *ngFor="let item of filters | keyvalue" type="button" class="btn btn-sm btn-outline-dark">{{getName(item)}}</button>
  </div>
  </div> -->
</div>
<div *ngIf="!loader" class="container pt-2">
  <div class="featured-cars">
    <div class="row card-list">
      <div *ngFor="let item of articles" class="col-sm-6 col-md-4 col-lg-4" (click)="showVehicle(item)">
        <div class="card mb-2 car-card">
          <img class="card-img-top" [defaultImage]="loader" [lazyLoad]="img_url_base + '/' + item.images[0]" [offset]="offset">
          <button *ngIf="item.opportunity" type="button" class="btn btn-danger btn-sm opportunity-label">OPORTUNIDAD</button>
          <button *ngIf="item.newest" type="button" class="btn btn-warning btn-sm new-label">NOVEDAD</button>
          <button *ngIf="item.year" class="btn btn-light btn-sm year-label">{{item.year}}</button>
          <div class="card-block p-3">
            <h4 class="card-title">{{ item?.name }}</h4>
            <div class="card-text">{{ item?.subcategory?.category?.name }} {{ item?.subcategory?.name }}</div>
            <div class="card-text" [innerHtml]="item.description | truncate:80"></div>
          </div>
          <div class="card-footer">
            <div class="row no-gutters">
              <div *ngIf="item.advance > 0" class="credit">
                Anticipo de {{item.advance}}
              </div>
              <div *ngIf="item.quot && item.quot_price" class="credit">
                <span *ngIf="item.advance > 0">y</span> {{car?.quot}} cuotas de {{car?.quot_price}}
              </div>
              <div class="col price-container"><span class="price">{{item.price}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loader" style="min-height: 80px" class="container pt-2">
  <div class="featured-cars">
    <div class="loader">Loading...</div>
</div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Filtrar resultados</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label >Filtrar por Categoría</label>
      <select class="form-control" [(ngModel)]="categorySelected" (change)="changeCategory($event)">
        <option value="all">Todas</option>
        <option *ngFor="let item of categories" [value]="item.id" >{{item.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label >Filtrar por Subcategoría</label>
      <select class="form-control" [(ngModel)]="subcategorySelected">
        <option value="all">Todos</option>
        <option *ngFor="let item of subcategories" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
    <!-- <div class="form-group">
      <label for="exampleFormControlSelect1">Filtrar por Año</label>
      <select class="form-control" [(ngModel)]="yearSelected">
        <option value="">Todos</option>
        <option *ngFor="let item of years" [value]="item">{{item}}</option>
      </select>
    </div> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary default" (click)="filterByModal()">FILTRAR</button>
  </div>
</ng-template>